<div class="faq-section">
	<h1>FAQs</h1>
	<h2>How can I learn more about ML Bazaar?</h2>
	<p>We are releasing a paper soon. It will describe primitives, pipelines and primitives. Stay tuned and we will update here.</p> 

	<h2>What open source libraries are you releasing?</h2>
	<p>We are releasing a primitive library - <a href="https://github.com/HDI-Project/MLPrimitives" target="_blank">MLPrimitives</a>, a pipeline execution library - <a href="https://github.com/HDI-Project/MLBlocks" target="_blank">MLBlocks</a>, and a collection of techniques typically used for AutoML in a library called <a href="https://github.com/HDI-Project/BTB" target="_blank">BTB</a>.</p>
	 
	<h2>How can I programmatically explore datasets, pipelines, templates?</h2>
	<p>You can programmatically access the datasets (organized as D3M format) and about 3.1 million pipelines via <a href="https://github.com/HDI-Project/piex" target="_blank">Pipeline explorer library</a>. We are adding millions more.</p>


	<h2>How can I contribute?</h2>
	<p>We will be opening up ability to contribute to all our libraries. You would be able to contribute a primitive, suggest a pipeline, suggest hyperparameters or their search ranges. Once you follow the steps and the code is validated, we will run the experiments and return results. If your pipeline does better, we will update the website here and credit you/your team with it.</p>

	<h2>Is this just an academic exercise?</h2>
	<p>We are motivated to provide a place where any practitioner can go and find validated competitive templates for their machine learning task.</p>

</div>