.detail-header {
    width: 100%;
    .header-logo {
        height: auto;
        padding-top: 0px;
        a {
            margin-top: 20px;
        }
    }
}
.detail-content {
    width: 100%;
    background-color: #fafdff;
    padding-top: 35px;
    .title-page {
        width: 100%;
        height: 84px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: ' ';
            width: 730px;
            height: 84px;
            left: 0;
            opacity: 0.23;
            background-image: linear-gradient(to left, rgba(5, 159, 237, 0), #0266d6);
            position: absolute;
            @media screen and (max-width: 767px){
                width: 100%;
                padding: 0 20px;
            }
        }
        h1 {
            width: 940px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 35px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.23;
            letter-spacing: normal;
            color: #0266d6;
            @media screen and (min-width: 1440px){
                width: 1300px;
            }
            @media screen and (min-width: 1366px) and (max-width: 1439px){
                width: 1200px;
            }
            @media screen and (min-width: 1280px) and (max-width: 1365px){
                width: 1100px;
            }
            @media screen and (min-width: 960px) and (max-width: 1023px){
                width: 900px;
            }
            @media screen and (min-width: 768px) and (max-width: 959px){
                width: 700px;
            }
            @media screen and (max-width: 767px){
                width: 100%;
                padding: 0 20px;
            }
        }
    }
    .group-data {
        width: 940px;
        height: 100%;
        margin: 0 auto;
        @media screen and (min-width: 1440px){
            width: 1300px;
        }
        @media screen and (min-width: 1366px) and (max-width: 1439px){
            width: 1200px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1365px){
            width: 1100px;
        }
        @media screen and (min-width: 960px) and (max-width: 1023px){
            width: 900px;
        }
        @media screen and (min-width: 768px) and (max-width: 959px){
            width: 700px;
        }
        @media screen and (max-width: 767px){
            width: 100%;
            padding: 0 20px;
        }
        .group-title {
            font-size: 35px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #0098ff;
            margin-top: 25px;
            margin-bottom: 32px;
            &.title-best-pipeline {
                margin-top: 10px;
            }
            h1 {
                position: relative;
                padding-bottom: 5px;
                &:before {
                    content: ' ';
                    width: 100%;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                    opacity: 0.23;
                    background-image: linear-gradient(to left, rgba(5,159,237,0), #0266d6);
                    position: absolute;
                }
            }
        }
        .group-content {
            width: 100%;
            .row-content {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
                &last-child {
                    margin-bottom: 10px;
                }
                @media screen and (max-width: 767px){
                    width: 100%;
                    flex-wrap: wrap;
                    padding: 0 20px;
                }
                .col-left {
                    width: auto;
                    margin-right: 50px;
                    @media screen and (max-width: 767px){
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 0 20px;
                    }
                    label {
                        width: 200px;
                        display: block;
                        font-size: 24px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #000000;
                    }
                }
                .col-right {
                    width: auto;
                    @media screen and (max-width: 767px){
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 0 20px;
                    }
                    .sourceuri-link {
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #47495a;
                    }
                    p {
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #47495a;
                    }
                    .primitive {
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.06;
                        letter-spacing: normal;
                        color: #47495a;
                    }
                    .hyperparameter {
                        width: 100%;
                        p {
                            font-size: 18px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 2.06;
                            letter-spacing: normal;
                            color: #47495a;
                        }
                        .hyperparameter-content {
                            padding-left: 40px;
                            font-family: 'Courier New';
                        }
                    }
                }
            }
        }
        .dataset-table {
            border-radius: 12px;
            box-shadow: 0 3px 25px 0 rgba(208, 215, 233, 0.3);
            background-color: #ffffff;
            .table-title{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                h1 {
                    font-size: 24px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.79;
                    letter-spacing: normal;
                    color: #0266d6;
                    padding: 20px 30px 30px 30px;
                }
                .input-search {
                    width: 244px;
                    height: 46px;
                    position: relative;
                    margin-right: 26px;
                    input {
                        width: 100%;
                        height: 46px;
                        border-radius: 3px;
                        border: solid 1px #f1f2f4;
                        background-color: #ffffff;
                        padding-left: 54px;
                        padding-right: 20px;
                        color:#000!important;
                    }
                    .icon-search-input {
                        width: 23px;
                        height: 23px;
                        background: url('/assets/icon-search-input.svg') no-repeat center center;
                        background-size: 23px 23px;
                        position: absolute;
                        left: 20px;
                        top: 12px;
                    }
                }
            }
            .table-content {
                width: 100%;
                @media screen and (max-width: 767px){
                    overflow-x: auto;
                }
                table {
                    width: 100%;
                    tr {
                        th {
                            height: 45px;
                            background-color: #f8f9fb;
                            text-align: center;
                            vertical-align: middle;
                            font-size: 18px;
                            font-weight: 600;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 2.39;
                            letter-spacing: normal;
                            color: #47495a;
                            text-align: left;
                        }
                        td {
                            font-size: 18px;
                            font-weight: normal;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 2.39;
                            letter-spacing: normal;
                            color: #47495a;
                            border-bottom: 1px solid rgba(219, 222, 229, 0.4);
							&:nth-child(2){
								word-break: break-all;
							}
                        }
                        th, td {
                            padding: 7px 30px;
                        }
                    }
                }
            }
        }
        .footer-button {
            text-align: center;
            margin-top: 60px;
            margin-bottom: 70px;
            a {
                display: inline-block;
                cursor: pointer;
                width: 240px;
                height: 60px;
                &:hover {
                    opacity: 0.7;
                }
                &.btn-back {
                    background: url('/assets/icon-back.png') no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
}
p {
    word-break: break-word;
}