.home-header {
    width: 100%;
    height: 400px;
    background: url('/assets/home-header-bg.png') no-repeat center center;
    background-size: cover;
    @media screen and (max-width: 767px){
        height: 100vh;
    }
    .header-information {
        width: 940px;
        height: 100%;
        margin: 0 auto;
        padding-top: 50px;
        @media screen and (min-width: 1440px){
            width: 1300px;
        }
        @media screen and (min-width: 1366px) and (max-width: 1439px){
            width: 1200px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1365px){
            width: 1100px;
        }
        @media screen and (min-width: 960px) and (max-width: 1023px){
            width: 900px;
        }
        @media screen and (min-width: 768px) and (max-width: 959px){
            width: 700px;
        }
        @media screen and (max-width: 767px){
            width: 100%;
            padding: 50px 20px;
        }
        .information-content {
            width: 600px;
            @media screen and (min-width: 960px) and (max-width: 1023px){
                width: 600px;
            }
            @media screen and (max-width: 767px){
                width: 100%;
                padding: 0 20px;
                margin: 0 auto;
            }
            h1 {
                font-size: 50px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #0098ff;
                margin-bottom: 17px;
            }
            p {
                font-size: 24px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
                opacity: 0.68;
            }
        }
    }
}
.home-filter {
    width: 100%;
    height: auto;
    background-color: rgba(224, 240, 255, 0.17);
    z-index: -1;
    @media screen and (min-width: 960px) and (max-width: 1023px){
        width: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 959px){
        width: 100%;
    }
    @media screen and (max-width: 767px){
        width: 100%;
        padding: 50px 20px;
    }
    .filter-content {
        width: 940px;
        height: 100%;
        margin: 0 auto;
        padding: 50px 0;
        @media screen and (min-width: 1440px){
            width: 1300px;
        }
        @media screen and (min-width: 1366px) and (max-width: 1439px){
            width: 1200px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1365px){
            width: 1100px;
        }
        @media screen and (min-width: 960px) and (max-width: 1023px){
            width: 900px;
        }
        @media screen and (min-width: 768px) and (max-width: 959px){
            width: 700px;
        }
        @media screen and (max-width: 767px){
            width: 100%;
            padding: 0 20px;
        }
        .row-title {
            width: 830px;
            margin: 0 auto;
            padding: 40px 0;
            @media screen and (min-width: 960px) and (max-width: 1023px){
                width: 700px;
            }
            @media screen and (min-width: 768px) and (max-width: 959px){
                width: 650px;
            }
            @media screen and (max-width: 767px){
                width: 100%;
                padding: 0 20px;
            }
            h1 {
                font-size: 34px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #000000;
                @media screen and (max-width: 767px){
                    padding: 0 20px;
                }
            }
        }
        .row-switch {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 65px;
            @media screen and (max-width: 767px){
                flex-wrap: wrap;
            }
            .switch-filter {
                width: 50%;
                padding-right: 10px;
                text-align: right;
                @media screen and (max-width: 767px){
                    width: 100%;
                    text-align: center;
                    padding-right: 0;
                }
                a {
                    display: inline-block;
                    cursor: pointer;
                    width: 240px;
                    height: 60px;
                    &:hover {
                        opacity: 0.7;
                    }
                    &.btn-filter {
                        background: url('/assets/icon-filter-inactive.png') no-repeat;
                        background-size: 100% 100%;
                        &.current {
                            background: url('/assets/icon-filter-active.png') no-repeat;
                        }
                    }
                }
            }
            .switch-search {
                width: 50%;
                padding-left: 10px;
                @media screen and (max-width: 767px){
                    width: 100%;
                    text-align: center;
                    padding-left: 0;
                }
                a {
                    display: inline-block;
                    cursor: pointer;
                    width: 240px;
                    height: 60px;
                    &:hover {
                        opacity: 0.7;
                    }
                    &.btn-search {
                        background: url('/assets/icon-search-inactive.png') no-repeat;
                        background-size: 100% 100%;
                        &.current {
                            background: url('/assets/icon-search-active.png') no-repeat;
                        }
                    }
                }
            }
            button {
                width: 240px;
                height: 60px;
            }
            &.tabs {
                .current{
                    
		}
            }
        }
        .row-form {
            border-radius: 12px;
            box-shadow: 0 3px 25px 0 rgba(208, 215, 233, 0.3);
            background-color: #ffffff;
            .form-inputs {
                width: 100%;
                display: flex;
                padding: 40px 200px 28px 200px;
                @media screen and (min-width: 1440px){
                    padding: 50px 250px 38px 250px;
                }
                @media screen and (min-width: 1366px) and (max-width: 1439px){
                    padding: 50px 200px 38px 200px;
                }
                @media screen and (min-width: 960px) and (max-width: 1023px){
                    padding: 40px 100px 28px 100px;
                }
                @media screen and (min-width: 768px) and (max-width: 959px){
                    padding: 40px 60px 28px 60px;
                }
                @media screen and (max-width: 767px){
                    width: 100%;
                    flex-wrap: wrap;
                    padding: 20px;
                }
                .left-column {
                    width: 50%;
                    padding-right: 10px;
                    @media screen and (max-width: 767px){
                        width: 100%;
                        padding-right: 0;
                    }
                }
                .right-column {
                    width: 50%;
                    padding-left: 10px;
                    @media screen and (max-width: 767px){
                        width: 100%;
                        padding-left: 0;
                    }
                }
                .full-row {
                    width: 100%;
                }
                .form-group {
                    width: 100%;
                    margin-bottom: 30px;
                    .form-label {
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #47495a;
                        display: block;
                        margin-bottom: 7px;
                    }
                    .form-control {
                        width: 100%;
                        height: 46px;
                        border-radius: 3px;
                        box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
                        border: solid 1px #c4cdd5;
                        background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
                        padding: 5px 17px;
                        
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.11;
                        letter-spacing: normal;
                        color: #47495a;
                        &::placeholder {
                            opacity: 0.5;
                        }
                    }
                    select {
                        opacity: 0.5;
                        option {
                            width: 100%;
                        }
                    }
                }
            }
            .form-button {
                width: 100%;
                text-align: center;
                padding-bottom: 50px;
                a {
                    display: inline-block;
                    cursor: pointer;
                    width: 240px;
                    height: 60px;
                    &:hover {
                        opacity: 0.7;
                    }
                    &.btn-submit {
                        background-size: 100% 100%;
                        &.btn-filter-submit {
                            background: url('/assets/icon-filter-submit.png') no-repeat;
                        }
                        &.btn-search-submit {
                            background: url('/assets/icon-search-submit.png') no-repeat;
                        }
                    }
                }
            }
            &.tab-content{
                display: none;
                &.current{
                    display: inherit;
		}
            }
        }
    }
}
.home-dataset {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    @media screen and (min-width: 1440px){
        width: 1300px;
    }
    @media screen and (min-width: 1366px) and (max-width: 1439px){
        width: 1200px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1365px){
        width: 1100px;
    }
    @media screen and (min-width: 960px) and (max-width: 1023px){
        width: 900px;
    }
    @media screen and (min-width: 768px) and (max-width: 959px){
        width: 700px;
    }
    @media screen and (max-width: 767px){
        width: 100%;
        padding: 50px 20px;
    }
    .dataset-title {
        width: 100%;
        margin-bottom: 82px;
        h1 {
            font-size: 41px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #000000;
        }
    }
    .dataset-list {
        width: 100%;
        .dataset-item {
            width: 100%;
            box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
            border: solid 1px #c4cdd5;
            background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
            margin-bottom: 33px;
            padding: 34px 30px 30px 37px;
            &:last-child {
                margin-bottom: 0;
            }
            @media screen and (max-width: 767px){
                padding: 24px 15px 15px 5px;
            }
            .row {
                width: 100%;
                display: flex;
                margin-bottom: 0px;
                &:last-child {
                    margin-bottom: 0;
                }
                @media screen and (max-width: 767px){
                    flex-wrap: wrap;
                    padding: 0 20px;
                }
                .row-left {
                    width: auto;
                    label {
                        width: 150px;
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.39;
                        letter-spacing: normal;
                        color: #47495a;
                    }
                    @media screen and (max-width: 767px){
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 0 20px;
                    }
                }
                .row-right {
                    width: auto;
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.78;
                    letter-spacing: normal;
                    color: #47495a;
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 767px){
                        width: 100%;
                        flex-wrap: wrap;
                        padding: 0 20px;
                    }
                    p {
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.78;
                        letter-spacing: normal;
                        color: #47495a;
                        padding-top: 3px;
                    }
                    a {
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.39;
                        letter-spacing: normal;
                        color: #0266d6;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .sourceuri-link {
                        font-size: 18px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.78;
                        letter-spacing: normal;
                        color: #47495a;
                        word-break: break-word;
                    }
                }
                .row-detail {
                    width: 100%;
                    text-align: right;
                    a {
                        font-size: 18px;
                        font-weight: 600;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.39;
                        letter-spacing: normal;
                        color: #0266d6;
                        position: relative;
                        margin-right: 36px;
                        &:hover {
                            cursor: pointer;
                            text-decoration: none;
                        }
                        &:before {
                            content: ' ';
                            border-bottom: 1px solid #0266d6;
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                        }
                        &:after {
                            content: ' ';
                            background: url('/assets/icon-arrow-right.svg') no-repeat center center;
                            background-size: 30px 14px;
                            width: 30px;
                            height: 14px;
                            position: absolute;
                            top: 7px;
                            margin-left: 6px;
                        }
                    }                    
                }
                &.row-sourceuri {
                    margin-bottom: 12px;
                }
            }
        }
        .no-results {
            width: 100%;
            text-align: center;
            p {
                font-size: 30px;
                b {
                    font-weight: bold;
                }
            }
        }
    }
    .about-section {
        width: 100%;
        margin: 50px 0 0 0;
        h1 {
            font-size: 41px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 26px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-bottom: 12px;
        }
        p {
            margin-bottom: 30px;
            line-height: 1.5;
        }
    }
    .faq-section {
        width: 100%;
        margin: 50px 0;
        h1 {
            font-size: 41px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-bottom: 30px;
        }
        h2 {
            font-size: 26px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #000000;
            margin-bottom: 12px;
        }
        p {
            margin-bottom: 30px;
            line-height: 1.5;
        }
    }
}
.footer {
    width: 100%;
    background-color: rgba(224,240,255,0.4);
    .footer-container {
        width: 940px;
        height: 100px;
        margin: 0 auto;
        vertical-align: middle;
        display: flex;
        align-items: center;
        @media screen and (min-width: 1440px){
            width: 1300px;
        }
        @media screen and (min-width: 1366px) and (max-width: 1439px){
            width: 1200px;
        }
        @media screen and (min-width: 1280px) and (max-width: 1365px){
            width: 1100px;
        }
        @media screen and (min-width: 960px) and (max-width: 1023px){
            width: 900px;
        }
        @media screen and (min-width: 768px) and (max-width: 959px){
            width: 700px;
        }
        @media screen and (max-width: 767px){
            width: 100%;
            padding: 0 20px;
        }
    }
}
p {
    word-break: break-word;
}
.load-more-block {
	display: flex;
	justify-content: center;
	a {
		display: flex;
		cursor: pointer;
		width: 200px;
		height: 60px;
		background-size: 100% 100%;
		background: linear-gradient(to right, rgb(90, 191, 251), #2d73d2);
		border-radius: 8px;
		text-align: center;
		align-items: center;
		justify-content: center;
		color: #fff;
		text-decoration: none;
		&:hover {
			opacity: 0.7;
		}
	}
}