<!-- index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="title" content="{{ page.title }}">
        <meta name="description" content="{{ page.description }}">
        <meta name="keywords" content="{{ page.keywords }}">

        <meta name="og:title" content="{{ page.title }}">
        <meta name="og:url" content="{{ page.url }}">
        <!-- <meta name="og:image" content="{{ page.logo }}"> -->
        <meta name="og:description" content="{{ page.description }}">

        <meta name="MIT:card" content="summary" />
        <meta name="MIT:site" content="{{ page.url }}" />
        <meta name="MIT:title" content="{{ page.title }}" />
        <meta name="MIT:description" content="{{ page.description }}" />
        <!-- <meta name="MIT:image" content="{{ page.logo }}" /> -->

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta http-equiv='Expires' content='0'>
        <meta http-equiv='Pragma' content='no-cache'>
        <meta http-equiv='Cache-Control' content='no-cache'>
        <meta http-equiv='imagetoolbar' content='no'>

        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="assets/dai-favicon.png" />
        
        <!-- Feather CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-core.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-component-grid.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/feather-component-button.css"/>

        <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css"/>

        <!-- Main CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>

    </head>

    <body>
        <div class="home-header">
            <div class="header-logo">
                <a href="{{ site.baseurl }}" class="home-page-url">
                    <img src="/assets/logo-1.png" />
                </a>
            </div>
            <div class="header-information">
                <div class="information-content">
                    <h1>Machine Learning Bazaar</h1>
                    <p>Dataset Library: Information about dataset such as: Name, Description, Domain, Data-Type, Task-Type, Pipeline information.</p>
                </div>
            </div>
        </div>
        <div class="home-filter">
            <div class="filter-content">
                <div class="row-title" style="display: none;">
                    <h1>Search dataset by Dataset Name or Filter by Dataset Name, Domain, Data-Type, Task-Type.</h1>
                </div>
                <div class="row-switch tabs" style="display: none;">
                    <div class="switch-filter">
                        <a onclick="resetSearch()" class="btn-filter tab-link current" data-tab="form-filter"></a>
                    </div>
                    <div class="switch-search">
                        <a onclick="resetFilter()" class="btn-search tab-link" data-tab="form-search"></a>
                    </div>
                </div>
                <div class="row-form tab-content current" id="form-filter">
                    <div class="form-inputs">
                        <div class="left-column">
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input type="text" autocomplete="off" name="name" class="form-control search-name" placeholder="Search by data name" />
                            </div>
                            <div class="form-group">
                                <label class="form-label">Data Type</label>
                                <select name="datatype" class="form-control search-datatype">
                                    <option value="">Please choose data type</option>
                                    {% for data_type in site.data.datatype %}
                                        <option value="{{ data_type }}">{{ data_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="right-column">
                            <div class="form-group">
                                <label class="form-label">Domain</label>
                                <select name="domain" class="form-control search-domain">
                                    <option value="">Please choose a domain</option>
                                    {% for domain in site.data.domains %}
                                        <option value="{{ domain }}">{{ domain }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Task Type</label>
                                <select name="task_type" class="form-control search-tasktype">
                                    <option value="">Please choose Task Type</option>
                                    {% for task_type in site.data.tasktype %}
                                        <option value="{{ task_type }}">{{ task_type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-button">
                        <a onclick="filterSubmit()" class="btn-submit btn-filter-submit"></a>
                    </div>
                </div>
                <div class="row-form tab-content" id="form-search">
                    <div class="form-inputs">
                        <div class="full-row">
                            <div class="form-group">
                                <label class="form-label">Name</label>
                                <input type="text" autocomplete="off" name="name" class="form-control search-box" placeholder="Search by data name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-button">
                        <a onclick="searchSubmit()" class="btn-submit btn-search-submit"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-dataset">
            
            {{ content }}
            
        </div>

        <!-- Return to Top -->
        <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
        
        <!-- Footer -->
        <div class="footer">
            <div class="footer-container">

                <div class="Grid-cell footer-cell u-size11of12">
                    <span class="foot-link">© <span id="copyright-year">2018</span> Data to AI Group.</span>
                </div>
            </div>
        </div> <!-- End of Footer -->
    
        <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/js/main.js"></script>

        {% include ga.html %}
    </body>
</html>
